
#demoList {
  text-align: left;
  font-size: 20px;
}

.vgBtn {
  height: 60px;
  width: 100%;
  padding: 10px;
  color: black;
  background: none;
  margin: 10px;
  border-radius: 0;
  font-size: 15px;
}
