.track-heading {
  text-align: center;
  background-color: #DCDCDC;
  padding-top: 30px;
  padding-bottom: 30px;
}

#title{
  text-align: center;
  font-size: 45px;
}

#intro {
  text-align: center;
  font-size: 15px;
}

.firstChallengeBtn {
  height: 40px;
  width: 220px;
  padding: 10px;
  color: black;
  background: white;
}

.firstChallengeBtn:hover {
  height: 40px;
  width: 220px;
  padding: 10px;
  color: black;
  background: none;
}

#mainModule {
  text-align: center;
  width: 1000px;
  background-color: none;
}
