.track-heading {
  text-align: center;
  background-color: #DCDCDC;
  padding-top: 30px;
  padding-bottom: 30px;
}

p[id="title"]{
  text-align: center;
  font-size: 45px;
}

p[id="intro"] {
  text-align: center;
  font-size: 15px;
}

.firstChallengeBtn {
  height: 40px;
  width: 220px;
  padding: 10px;
  color: black;
  background: white;
}

.firstChallengeBtn:hover {
  height: 40px;
  width: 220px;
  padding: 10px;
  color: black;
  background: none;
}

div[id="mainModule"] {
  margin-top: 30px;
  margin-left: 400px;
  margin-right: 400px;
  background-color: none;
}
