.lessonName {
  padding: 10px;
}

#fullLesson{
  text-align: left;
  font-size: 20px;
}

#lineLesson{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}
